header {
    background-color: gray;
    background-image: url(../img/headerBg.png);
    background-size: cover;
}


.navbar-nav a {
    
}

nav .collapse {
    justify-content: flex-end;
}

.line {
    border-bottom: 3px solid white;
    width: 60px;
}
.navbar-nav a {
    padding: 0;
    margin-top: 40px;
    margin-right: 50px;
    text-transform: uppercase;
    margin-bottom: 3px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff !important;
}
.navbar-nav a:hover {
    color: #fce38a !important;
    transition: all 0.2s;
}

.headetText {
    margin-top: 180px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.headetText a {
    display: inline-block;
    margin-bottom: 200px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid #ffffff;
    padding: 12px 30px;
}
.headetText a:hover {
    color: #fce38a;
    border: 3px solid #fce38a;
    transition: all 0.2s;
}
.headetText h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color:#ffffff;
}
.headetText h1 {
    margin-top: 40px;
    text-transform: uppercase;
    line-height: 170px;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.line {
    margin-top: 40px;
    margin-bottom: 50px;
}

.headerIntro .intro div, .headerIntro .work div, .headerIntro .about div, .headerIntro .contact div{
    opacity: 0.5;
    margin-bottom: 25px;
    background-color: white;
    height: 3px;
    max-width: 280px;
}
.intro:hover .top-line:after, .work:hover .top-line:after, .about:hover .top-line:after, .contact:hover .top-line:after {
    opacity: 0.5;
    content: " ";
    display: block;
    height: 3px;
    max-width: 70px;
    background-color: red
}



.headerIntro p {
    opacity: 0.5;
    margin:0 10px 30px 0;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
.intro .introText, .work .workText, .about .aboutText, .contact .contactText {
    opacity: 0.5;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
.intro:hover .introText,.intro:hover p, .intro:hover div{
    opacity: 1;
    transition: all 0.2s;
}
.work:hover .workText,.work:hover p, .work:hover div{
    opacity: 1;
    transition: all 0.2s;
}
.about:hover .aboutText,.about:hover p, .about:hover div{
    opacity: 1;
    transition: all 0.2s;
}
.contact:hover .contactText,.contact:hover p, .contact:hover div{
    opacity: 1;
    transition: all 0.2s;
}

/*секция о нас*/

.blockText {
    text-align: center;
}

.blockText h2 {
    margin-top: 90px;
    font-size: 24px !important;
    font-family: 'Kaushan Script', cursive;    
}

.blockText h1 {
    margin-top: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;;
    font-weight: 700;
}
.blockText .line {
    border: 0;
    height: 3px;
    background-color: #f38181;
    margin: 40px 0;
    display: inline-block;
}

.caption p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    margin-bottom: 90px;
}

.about-photo img {
    max-width: 100%;
    margin-bottom: 110px;
}

.about-photo img:hover {
    top:-10px;
    right: 10px;
    position: relative;
    
}

/*секция с цифровой статистикой*/

.numbers {
    background-color: #95e1d3;
}
.numbers .row {
    justify-content: space-between;
}
.number-center {
    text-align: center;
}
.number {
    margin:90px 0 30px;
    line-height: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
}
.number-descript {
    margin: 0 0 90px;
    line-height: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}